/* Common Styles */
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

/* Header Styles */

.page-header{
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.page-logotype {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em
}

.text-web {
    color: #2E2F42;
}


.navigation-list-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: #404BBF;
}
.address-page{
       font-style: normal;
}
.our-contacts {
    color:#434455;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}
.our-contacts:hover,
.our-contacts:focus {
    color:#404bbf;
}
/* Hero */

.title-container {
    background: #2E2F42;
}
.main-title {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
    

.button-order {
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif
}
.button-order:hover,
.button-order:focus {
    background-color: #404BBF;}

/* Our Benefits */

.our-benefits-list-item-name {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.02em;
}
.our-benefits-list-item-descr {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Our Team */

.our-team-section{
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background-color: #F4F4FD;
}
.our-team-title{
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-team-list-item {
    background-color: #FFFFFF;
}
.our-team-name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-team-profession {
    color:#434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Our Portfolio */

.our-portfolio-sectoin{
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.bankink-app{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.app-descr{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Footer */

.footer-box{
    background: #2E2F42;
}
.footer-item{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-logotype{
    color:  #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 00.03em;
    text-transform: uppercase;
}
.text-web-footer{
color: #f4f4fd
}
