/* Common Styles */
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:inherit;
}
button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color:#2E2F42;
    background-color: #FFFFFF;
}
/* Header Styles */

.page-header {
    
}
.page-navigation {

}
.page-logotype {
    color:#2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.text-web{
    color:#4D5AE5;
}
.navigation-list{

}
.navigation-list-item{

}
.navigation-list-link{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color:#404BBF;
}
